@using BulkyBook.Models;
@model ICollection<Product>


<partial name="_Notification" />
<div class="card shadow-lg p-3 mb-5 rounded mx-auto">
    <h2 class="text-center">Products</h2>
    <div class="d-flex flex-row-reverse">
        <a asp-controller="Product" asp-action="Upsert" class="btn btn-outline-primary mb-3">Create Product</a>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Title</th>
                <th>ISBN</th>
                <th>Price</th>
                <th>Author</th>
                <th>Category</th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
    </table>
</div>