@using BulkyBook.Models;
@model ICollection<CoverType>


<partial name="_Notification" />
<div class="card shadow-lg p-3 mb-5 rounded mx-auto">
    <h2 class="text-center">Cover Types</h2>
    <div class="d-flex flex-row-reverse">
        <a asp-controller="CoverType" asp-action="Create" class="btn btn-outline-primary mb-3">Create CoverType</a>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var coverType in Model)
            {
                <tr>
                    <td>@coverType.Id</td>
                    <td>@coverType.Name</td>
                    <td>
                        <a asp-area="Admin" asp-controller="CoverType" asp-action="Edit" asp-route-id="@coverType.Id" class="btn btn-outline-primary">Edit</a>
                        <a asp-area="Admin" asp-controller="CoverType" asp-action="Delete" asp-route-id="@coverType.Id" class="btn btn-outline-danger mx-2">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>