@using BulkyBook.Models;
@model Category

<div class="card shadow-lg p-3 mb-5 rounded mx-auto col-7">
    <form method="post">
        <h3 class="text-center">Create Category</h3>
        <div class="form-floating mb-3">
            <input asp-for="Name" type="text" class="form-control" id="floatingInput" placeholder="Name">
            <label asp-for="Name">Name</label>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="DisplayOrder" type="text" class="form-control" id="floatingInput" placeholder="Display Order">
            <label asp-for="DisplayOrder">Display Order</label>
            <span asp-validation-for="DisplayOrder" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-outline-primary">Create</button>
    </form>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}